.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding: 40px 27px;
  /* background: url('/src/assets/bg_img.jpg');
  background-size: cover;
  background-position: center; */
}

.hero img{
  border-radius: 25px;
  width: 200px;
  box-shadow: 1px 0 5px 0 black;
}

.hero h1{
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}

.hero h1 span{
  color: rgb(208, 123, 32);
  font-size: 1.7rem;
}

.hero p{
  text-align: center;
  font-size: 1rem;
  line-height: 20px;
  width: 100%;
}

.hero-action{
  display: flex;
  align-items: center;
  gap:25px;
  font-size: 1rem;
  font-weight: bold;
}

.hero-connect{
  padding: 8px 20px;
  border-radius: 15px;
  background: rgb(207, 108, 3);
  border: 1px solid rgb(207, 108, 3);
  cursor: pointer;
  transition: 0.5s ease;
}

.hero-resume{
  padding: 8px 20px;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s ease;
  border-color: rgb(255, 255, 255);
}

.hero-resume a{
  text-decoration: none;
  color: white;
}

.hero-connect:hover {
  border-color: white;
  transform: scale(1.05);
}

.hero-resume:hover {
  border-color: rgb(76, 76, 215);
  transform: scale(1.05);
}



/* --- --- */

@media (min-width:1024px) {
  .hero{
    gap:25px;
  }

  .hero img{
    width: 360px; 
  }

  .hero h1{
    font-size: 2rem;
  }

  .hero h1 span{
    font-size: 2.3rem;
  }

  .hero p{
    font-size: 1.3rem;
    line-height: 50px;
  }

  .hero-action{
    gap:25px;
    font-size: 1.3rem;
  }
}

@media (min-width:1224px) {
 
}