.about{
  background: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding: 40px;
}

.about-title h1{
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}

.about-sections{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-top{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 20px;
  gap: 20px;
  max-width: 1000px;
}

.about-top hr{
  outline: none;
  border: none;
  height: 2px;
  border-radius: 1.5px;
  background: rgb(207, 108, 3);
  width: 100%;
}

.about-bottom{
  display: flex;
  flex-direction: column;
}

.about-bottom h1{
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.skills-format{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  transition: 0.4s;
  cursor: pointer;
}

.skills-format h3{
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
}



/* --- --- */


@media (min-width:1024px) {
  .about{
     gap:50px;
  }
  .skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .about-title h1{
    font-size: 3rem;
  }

  .about-top{
    font-size: 1.2rem;
    line-height: 30px;
     gap:50px;
  }

  .about-bottom h1{
    font-size: 3rem;
  }

  .skills-format h3{
    font-size: 1.1rem;
  }
  .about-bottom{
    gap: 20px;
  }

}

@media (min-width:1224px) {
 .skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .about-title h1{
    font-size: 4rem;
  }

  .about-top{
    font-size: 1.4rem;
    line-height: 35px;
  }

  .about-bottom h1{
    font-size: 4rem;
  }

  .skills-format h3{
    font-size: 1.2rem;
  }
}