.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 0 1.5rem;
  position: fixed;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
}

.nav-logo{
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
}

.nav-logo a{
  color: rgb(207, 108, 3);
  text-decoration: none;
}

.nav-links.active {
  display: flex;
  top: 0;
  margin-top: 50px;
  list-style: none;
  font-size: 1.2rem;
  transition: 0.5s ease;
}

.nav-links.active ~ #overlay{
  display: block;
}

.nav-links.active a{
  text-decoration: none;
}

.nav-cv-btn{
  margin: 10px;
  padding: 0.8rem 1rem;
  border-radius: 15px;
  background: rgb(207, 108, 3);
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
.nav-cv-btn:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
.underLine{
  outline: none;
  border: none;
  height: 5px;
  border-radius: 2px;
  background: rgb(76, 76, 215);
  margin-top: -3px;
}
.anchor-link{
  text-decoration: none;
  color: white;
}

.menu-icon{
  display: none;
  cursor: pointer;
}

.nav-links {
  flex-direction: column;
  position: fixed;
  top: 5rem;
  left: 50;
  right: 0;
  background-color:black;
  height: 100rem;
  width: 50%;
  display: none;
  padding: 1.5rem;
  z-index: 15;
  transition: 0.5s ease;
}

.nav-links li {
  padding: .5rem;
  text-align: center;
  transition: 0.5s ease;
}

.menu-icon {
  display: block;
  z-index: 20;
  transition: 0.5s ease;
}

#overlay{
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 14;
  display: none;
}


/* ---------- Responsive Breakpoint ---------- */