:root {
  font-family: "Numans", monospace, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 80px 20px;
  box-sizing: border-box;
}
